<section class="form-container">
  <form (ngSubmit)="signUp()">
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">FirstName</label>
      <input
        type="firstName"
        class="form-control"
        id="exampleInputFirstName"
        [(ngModel)]="user.firstName"
        name="firstName"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmailAddress" class="form-label"
        >Email Address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmailAddress"
        [(ngModel)]="user.emailAddress"
        name="emailAddress"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="user.password"
        name="password"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputSkinType" class="form-label">Skin Type</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputSkinType"
        [(ngModel)]="user.skinType"
        name="skinType"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputSkinCycle" class="form-label"
        >Skin Cycle Preference</label
      >

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="flexCheckDefault"
          value="3 day"
          [(ngModel)]="user.skinCyclePreference"
          name="skinCyclePreference"
        />
        <label class="form-check-label" for="flexCheckDefault">
          3 day pattern: 1 day Exfoliate, 1 day Retinoid, 1 day Recovery
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="flexCheckChecked"
          value="4 day"
          [(ngModel)]="user.skinCyclePreference"
          name="skinCyclePreference"
        />
        <label class="form-check-label" for="flexCheckChecked">
          4 day pattern: 1 day Exfoliate, 1 day Retinoid, 2 day Recovery
        </label>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create Account</button>
    </div>
  </form>
</section>
