<section class="form-container">
  <form (ngSubmit)="addProduct()">
    <div class="mb-3">
      <label
        for="exampleInputProductName"
        class="form-label"
        [(ngModel)]="product.name"
        name="name"
        >Product Name</label
      >
      <input type="productName" class="form-control" id="exampleProductName" />
    </div>
    <div class="mb-3">
      <label
        for="exampleInputDirections"
        class="form-label"
        [(ngModel)]="product.directions"
        name="directions"
        >Directions of Use
      </label>
      <input
        type="directions"
        class="form-control"
        id="exampleInputDirections"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputSkinType" class="form-label"
        >Skin Cycle Stage
      </label>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="skinCyclePreference"
          id="flexCheckDefault"
          value="1"
          [(ngModel)]="product.stageId"
          name="stageId"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Stage 1: Exfoliation
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="2"
          id="flexCheckChecked"
          checked
          [(ngModel)]="product.stageId"
          name="stageId"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Stage 2: Retnoid
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="3"
          id="flexCheckChecked"
          checked
          [(ngModel)]="product.stageId"
          name="stageId"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Stage 3: Recovery
        </label>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </form>
</section>
