section {
  width: 40%;
  margin-left: 15%;
  margin-top: 2%;
  font-style: italic;
  /* position: absolute; */
  top: 10%;
  left: 20%;
  text-align: center;
  padding-top: 1%;
  transform: translate(30%, 20%);
  background-size: 300px 300px;
  border-radius: 38% 38% 80% 90% / 38% 38% 20% 15%;
  height: 350px;
  width: 400px;
  background-color: aliceblue;
}
