section {
  width: 40%;

  margin-top: 3%;
  font-style: italic;

  text-align: center;
  padding-top: 2%;

  background-size: 300px 300px;
  border-radius: 38% 38% 80% 90% / 38% 38% 20% 15%;
  height: 350px;
  width: 400px;
  background-color: rgb(166, 213, 255);
}
